* {
    font-family: 'Comic Sans MS', sans-serif; 
    font-weight: bold;
    font-stretch: extra-expanded;
}

body {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    padding: 15px;
}

.gifSection div {
    display: inline-block;
    font-size: 20px;
    text-align: center;
}


/*Input*/

input.form-control.search {
    width: 30em;
    border-radius: 20px;
    background-color: white;
}

.searchBtn {
    background-color: white;
}

#btn-section {
    width: 15%;
    height: 100%;
    background-color: aquamarine;
    border-radius: 20px;
    font-size: 2vw;
}

.input-group {
    margin: 10px 0 0 50px;
}


/*Gif Buttons */

.gif {
    margin: 20px auto;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.gifStart {
    margin-top: 30px;
    text-align: center;
}


